* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*header*/
/*top*/
header{
  background-color:  rgb(46, 96, 224);
}

.top{
  min-height: 50px;   /*debug*/
  padding: 10px 0;
}

.container{
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  background-color: rgb(46, 96, 224);
}

.row{
  display: flex;
}

header .logo{
  width: 25%;
}

header .logo img{
  width: 100%;
}

header .link{
  width: 50%;
}

header .link a{
  padding: 20px;
  color: white;
}

header .login{
  width: 25%;
  text-align: right;
}

header .login a{
  color: black;
  background-color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 10px 10px;
  border-radius: 25px;
  text-align: center;
}

header .login a:hover{
  background-color: rgb(229, 226, 226);
  text-decoration: underline;
}

header .container .row{
  min-height: 50px;           /*debug*/
  align-items: center;
}

header nav ul{
  display: flex;
  list-style: none;
  justify-content: center; 
}

header nav ul a{
  text-decoration: none;
  padding: 0 10px;
  display: inline-block;
}

header nav ul a:hover{
  color: rgb(229, 226, 226);
  text-decoration: underline;
}

/*/top*/

/*jambo*/
.jambo{
  background-image: url(../../img/jumbo.png);
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-jambo{
  width: 57%;
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 150px;
}

.container-jambo h1{
  font-size: 40px;
  margin-bottom: 35px;
}

.container-jambo p{
  margin-bottom: 25px;
  line-height: 30px;
  font-size: 19px;
}

.container-jambo .link{
  display: flex;
  font-size: 14px;
  width: 100%;
  justify-content: center;
}

.container-jambo .link a{
  text-decoration: none;
}

.container-jambo .link a{
  border: 1px solid white;
  border-radius: 25px;
  background-color: white;
  color: black;
  padding: 10px 10px;
  display: inline-block;
}

.container-jambo .link a:hover{
  background-color: rgb(229, 226, 226);
  text-decoration: underline;
}

.container-jambo .link .browser{
  color: white;
  border: 1px solid rgb(34,40,42);
  border-radius: 25px;
  background-color: rgb(34,40,42);
  margin: 0 30px;
}

.container-jambo .link .browser:hover{
  background-color: rgb(58, 59, 59);
  text-decoration: underline;
}
/*/jambo*/
/*/header*/

/*main*/
/*section-study*/
.study{
  display: flex;
  align-items: center; 
}

.container-study{
  width: 80%;
  max-width: 1100px;
  margin: 50px auto;
  display: flex;
}

main .study-img{
  width: 60%;
  padding: 150px 50px;
}

main .study-text{
  width: 40%;
  padding-top: 170px;
  padding-left: 60px;
  padding-right: 60px;
}

main .study-title{
  font-size: 45px;
  margin-bottom: 25px;
  line-height: 56px;
}

main .study-p{
  font-size: 18px;
  line-height: 25px;
}

/*section-study*/

/*section-dove*/
.dove{
  display: flex;
  align-items: center;
  background-color: lightgray;
}

.container-dove{
  width: 80%;
  max-width: 1100px;
  margin: 50px auto;
  display: flex;
}

main .dove-img{
  width: 60%;
  padding: 150px 0px;
}

main .dove-img img{
  width: 100%;
}

main .dove-text{
  width: 40%;
  padding-top: 170px;
  padding-left: 60px;
  padding-right: 60px;
}

main .dove-title{
  font-size: 45px;
  margin-bottom: 25px;
  line-height: 56px;
}

main .dove-p{
  font-size: 18px;
  line-height: 25px;
}
/*/section-dove*/

/*section-fandom*/
.fandom{
  display: flex;
  align-items: center;
  min-height: 400px;
}

.container-fandom{
  width: 80%;
  max-width: 1100px;
  margin: 50px auto;
  display: flex;
}

main .fandom-img{
  width: 60%;
  padding: 150px 0px;
}

main .fandom-img img{
  width: 100%;
}

main .fandom-text{
  width: 40%;
  padding-top: 170px;
  padding-left: 60px;
  padding-right: 60px;
}

main .fandom-title{
  font-size: 45px;
  margin-bottom: 25px;
  line-height: 56px;
}

main .fandom-p{
  font-size: 18px;
  line-height: 25px;
}
/*/fandom*/

/*tecnologia*/
.tecnologia{
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-tecno{
  width: 80%;
  max-width: 1100px;
  margin: 50px auto;
  text-align: center;
}
 .title-tec{
  font-size: 45px;
  margin-bottom: 25px;
  margin-top: 25px;
  line-height: 56px;
 }

 .text-tec{
  font-size: 18px;
  line-height: 25px;
  margin: 0 60px;
 }

 .img-tec img{
  width: 100%;
 }

 .cda{
  font-size: 25px;
  margin-bottom: 25px;
  margin-top: 25px;
  min-height: 60px;
  background-image: url(../../img/stars.svg);
  background-size: 60%;
  background-repeat: no-repeat;
 }

 .cda-link{
  margin-bottom: 40px;
 }

 .cda-link a{
  text-decoration: none;
  border: 1px solid rgb(142, 162,226);
  border-radius: 25px;
  padding: 10px 10px;
  background-color: rgb(142, 162,226);
  color: white;
}
 .cda-link  a:hover{
  text-decoration: underline;
  background-color: rgb(186, 197, 233);
}
/*/tecnologia*/
/*/main*/

/*footer*/
/*section-speak*/
.speak{
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.921);
}

.container-speak{
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  color: white;
}

footer .col-speak{
  width: calc(100% - 760px);
}

footer .prodotto{
  width: 190px;
}

footer .compagnia{
  width: 190px;
}

footer .risorse{
  width: 190px;
}

footer .norme{
  width: 190px;
}
/*/section-speak*/

/*section-logo-footer*/
.foot{
  background-color: rgba(0, 0, 0, 0.921);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.row-foot{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 80px;
}

.container-foot{
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}


footer .registrati a{
  border: 1px solid rgb(142, 162,226);
  background-color: rgb(142, 162,226);
  border-radius: 25px;
  padding: 10px 10px;
  text-decoration: none;
  color: white;
}

footer .registrati a:hover{
  text-decoration: underline;
  background-color: rgb(186, 197, 233);
}



.speak-title{
  font-size: 32px;
  padding: 30px 10px;
  color: rgb(142, 162,226);
}

.language span img{
  width: 7%;
  vertical-align: middle;
}

.language{
  margin-bottom: 15px;
  padding: 0 10px;
  font-size: 10px;
  color: rgb(142, 162,226);
}

.speak a{
  padding: 0 10px;
  color: white;
}



.speak .prodotto{
  line-height: 30px;
  padding: 30px 20px;
}
.prodotto span{
  color: rgb(142, 162,226);
}

.prodotto ul li{
  list-style: none;
}



.speak .compagnia{
  line-height: 30px;
  padding: 30px 20px;
}
.compagnia span{
  color: rgb(142, 162,226);
}

.speak .compagnia ul li{
  list-style: none;
}



.speak .risorse{
  line-height: 30px;
  padding: 30px 20px;
}
.risorse span{
  color: rgb(142, 162,226);
}

.speak .risorse ul li{
  list-style: none;
}




.speak .norme{
  line-height: 30px;
  padding: 30px 20px;
}
.norme span{
  color: rgb(142, 162,226);
}

.speak .norme ul li{
  list-style: none;
}

/*/section-logo footer*/
/*/footer*/